.playlists-container {
    max-width: 890px;
    margin: 0 auto;
    padding: 2.5rem 1rem;
    
    .no-playlist {
        color: #989fa6;
        text-align: center;
    }

    .playlist + .playlist {
        margin-top: 2rem;
    }
}